In [72]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
csv_path1 = "muniestbycounty_byyr.csv"
population_df=pd.read_csv(csv_path1,encoding="utf-8",sep=';')
population_df.head()

     County       Municipality          Year  Population
0  Alamance   Burlington(Part)  July 1, 2018       52866
1  Alamance  Gibsonville(Part)  July 1, 2018        3687
2  Alamance             Graham  July 1, 2018       15136
3     Anson             Morven  July 1, 2018         486
4      Ashe     Unincorporated  July 1, 2018       24580

In [74]:
csv_path2 = "uszips.csv"
zip_df = pd.read_csv(csv_path2,encoding="utf-8")
zip_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,A単asco,"{'72003':0.55,'72011':99.45}",A単asco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [78]:
new_zip=zip_df[["zip","lat","lng","city","state_name","county_name"]]
new_zip.head()

   zip       lat       lng       city   state_name county_name
0  601  18.18004 -66.75218   Adjuntas  Puerto Rico    Adjuntas
1  602  18.36073 -67.17517     Aguada  Puerto Rico      Aguada
2  603  18.45439 -67.12202  Aguadilla  Puerto Rico   Aguadilla
3  606  18.16724 -66.93828    Maricao  Puerto Rico     Maricao
4  610  18.29032 -67.12243     Anasco  Puerto Rico      A単asco

In [79]:
nc_df = new_zip.loc[new_zip["state_name"] == "North Carolina"]
nc_df= nc_df.rename(columns={"county_name":"County"})
nc_df.head()

        zip       lat       lng          city      state_name   County
8335  27006  35.94454 -80.43766       Advance  North Carolina    Davie
8336  27007  36.38733 -80.59249        Ararat  North Carolina    Surry
8337  27009  36.23307 -80.07610  Belews Creek  North Carolina  Forsyth
8338  27011  36.21560 -80.69667     Boonville  North Carolina   Yadkin
8339  27012  36.00410 -80.37582      Clemmons  North Carolina  Forsyth

In [80]:
census_df=pd.merge(nc_df,population_df,on='County')
census_df.head()

,zip,lat,lng,city,state_name,County,Municipality,Year,Population
0,27006,35.94454,-80.43766,Advance,North Carolina,Davie,Mocksville,"July 1, 2018",5425
1,27006,35.94454,-80.43766,Advance,North Carolina,Davie,Unincorporated,"July 1, 2018",33913
2,27006,35.94454,-80.43766,Advance,North Carolina,Davie,Bermuda Run,"July 1, 2018",2665
3,27006,35.94454,-80.43766,Advance,North Carolina,Davie,Cooleemee,"July 1, 2018",973
4,27014,35.81209,-80.55515,Cooleemee,North Carolina,Davie,Mocksville,"July 1, 2018",5425