In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('countypres_2000-2016.csv')
df = pd.DataFrame(data)
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [6]:
df['percent']=df['candidatevotes']/df['totalvotes']
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,percent
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203,0.287192
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203,0.696943
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203,0.009298
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203,0.006567
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203,0.247822

In [8]:
fips = df['FIPS'].value_counts()
years = df['year'].value_counts()

In [24]:
results={'State':[],'County':[],'FIPS':[],'Year':[],'R/D Spectrum':[]}
for fps in fips.index:
    for yr in years.index:
        hold_df = df.loc[(df['FIPS']==fps)&(df['year']==yr)]
        rep = hold_df.loc[hold_df['party']=='republican']
        rep = rep.reset_index()
        dem= hold_df.loc[hold_df['party']=='democrat']
        dem = dem.reset_index()
        try:
            results['State'].append(dem['state'][0])
            results['County'].append(dem['county'][0])
            results['R/D Spectrum'].append(rep['percent'][0]-dem['percent'][0])
        except:
            results['State'].append(0)
            results['County'].append(0)
            results['R/D Spectrum'].append(0)
        results['FIPS'].append(fps)
        results['Year'].append(yr)

In [35]:
df2 = pd.DataFrame(results)
df2.head()

       State   County     FIPS  Year  R/D Spectrum
0  Minnesota  Wabasha  27157.0  2000      0.068654
1  Minnesota  Wabasha  27157.0  2012      0.053898
2  Minnesota  Wabasha  27157.0  2008      0.024300
3  Minnesota  Wabasha  27157.0  2004      0.048331
4  Minnesota  Wabasha  27157.0  2016      0.263945

In [41]:
# hdf=df.loc[df['FIPS']==8014]
hdf = df2.sort_values(by=['R/D Spectrum'])
hdf = df2.groupby('FIPS').mean()
hdf['FIPS']= hdf.index
hdf.to_csv('../output_data/political.csv')
hdf.head(30)

        Year  R/D Spectrum    FIPS
FIPS
1001.0  2008      0.471645  1001.0
1003.0  2008      0.531744  1003.0
1005.0  2008      0.025785  1005.0
1007.0  2008      0.428398  1007.0
1009.0  2008      0.659665  1009.0
1011.0  2008     -0.456628  1011.0
1013.0  2008      0.119216  1013.0
1015.0  2008      0.309535  1015.0
1017.0  2008      0.098946  1017.0
1019.0  2008      0.430882  1019.0
1021.0  2008      0.546985  1021.0
1023.0  2008      0.064940  1023.0
1025.0  2008      0.122119  1025.0
1027.0  2008      0.446807  1027.0
1029.0  2008      0.583555  1029.0
1031.0  2008      0.466637  1031.0
1033.0  2008      0.178477  1033.0
1035.0  2008      0.023513  1035.0
1037.0  2008      0.174679  1037.0
1039.0  2008      0.541410  1039.0
1041.0  2008      0.349126  1041.0
1043.0  2008      0.593983  1043.0
1045.0  2008      0.445910  1045.0
1047.0  2008     -0.303818  1047.0
1049.0  2008      0.488076  1049.0
1051.0  2008      0.496120  1051.0
1053.0  2008      0.297841  1053.0
1055.0  2008      0.325706  1055.0
1057.0  2008      0.451122  1057.0
1059.0  2008      0.355691  1059.0

      State County    FIPS  Year  R/D Spectrum
15770     0      0  8014.0  2000           0.0